<!DOCTYPE html>
<html>
<head>
    <title>GPA Calculator</title>
    <script src = /routes/form.js></script>
</head>
<body>
<h2><u>GPA CALCULATOR</u></h2><br />
<form action="">
    Course 1:
    <select name="Grades" id = "grade1">Grades
        <option value="A">A</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B">B</option>
        <option value="B-">B-</option>
        <option value="C+">C+</option>
        <option value="C">C</option>
        <option value="C-">C-</option>
        <option value="D+">D+</option>
        <option value="D">D</option>
        <option value="D-">D-</option>
        <option value="F">F</option>
        <option value="WD">WD</option>
    </select>
    <select name="Credits" id = "cred1">Credits
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br />
    Course 2:
    <select name="Grades" id = "grade2">Grades
        <option value="A">A</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B">B</option>
        <option value="B-">B-</option>
        <option value="C+">C+</option>
        <option value="C">C</option>
        <option value="C-">C-</option>
        <option value="D+">D+</option>
        <option value="D">D</option>
        <option value="D-">D-</option>
        <option value="F">F</option>
        <option value="WD">WD</option>
    </select>
    <select name="Credits" id = "cred2">Credits
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br />
    Course 3:
    <select name="Grades" id = "grade3">Grades
        <option valvalueue="A">A</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B">B</option>
        <option value="B-">B-</option>
        <option value="C+">C+</option>
        <option value="C">C</option>
        <option value="C-">C-</option>
        <option value="D+">D+</option>
        <option value="D">D</option>
        <option value="D-">D-</option>
        <option value="F">F</option>
        <option value="WD">WD</option>
    </select>
    <select name="Credits" id = "cred3">Credits
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br />
    Course 4:
    <select name="Grades" id = "grade4">Grades
        <option value="A">A</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B">B</option>
        <option value="B-">B-</option>
        <option value="C+">C+</option>
        <option value="C">C</option>
        <option value="C-">C-</option>
        <option value="D+">D+</option>
        <option value="D">D</option>
        <option value="D-">D-</option>
        <option value="F">F</option>
        <option value="WD">WD</option>
    </select>
    <select name="Credits" id = "cred4">Credits
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
    </select>
    <br />
</form>

<input type="button" id="Calculate" name="Calculate" value = "Calculate">

</body>
</html>